<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}powermon - power monitoring and analysis{% endblock %}</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}standard.css" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico">
  <!--[if lte IE 8]>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}scripts/excanvas.compiled.js"></script>
  <![endif]-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}scripts/plot.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}scripts/jquery.flot.min.js" type="text/javascript"></script>
  {% block head %}
  {% endblock %}
</head>
<body>
  <div id="header">
    <a href="{{ ROOT_URL }}"><img src="{{ STATIC_URL }}images/powermon.png"></a>
  </div>
  <div id="content">
    {% if user.is_authenticated %}
      <div id="links">
        <a href="{{ ROOT_URL }}/leaders/">Leaders</a>
        <span>&bull;</span>
        <a href="{{ ROOT_URL }}/select_station/">Select Station</a>
        <span>&bull;</span>
        <a href="{{ ROOT_URL }}/usage/">Usage</a>
        <span>&bull;</span>
        <a href="{{ ADMIN_URL }}">Administration</a>
        <span>&bull;</span>
        <a href="{{ ROOT_URL }}/logout/">Logout</a>
      </div>
    {% endif %}
    {% block content %}{% endblock %}
  </div>
  <div id="footer">
    <p>&copy; 2012 Virginia Polytechnic Institute and State University</p>
  </div>
</body>
</html>